<mat-card class="form-card">
<div class="login-form" style="margin-top: -79px;margin-bottom: -88px;">
  <h4 class="title">LOGIN TO YOUR ACCOUNT</h4>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username">
      <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Username is required
    </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is required
    </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button>Sign In</button>
  </div>
</form>
<div class="register" fxLayout="column" fxLayoutAlign="center center">
  <span class="text">Don't have an account?</span>
  <a class="link" [routerLink]="'/auth/register'">Create an account</a>
</div>
</div>
</mat-card>